env:
  global:
    - APP_ENV=test
    - DATABASE_URL=mysql://root:@127.0.0.1:3306/myapp_test
    - APP_SECRET=Secret!
    - INSTANCE_ID=1

language: php
php:
  - "7.2"

before_install:
  - mysql -e 'CREATE DATABASE myapp_test;'
  - chmod +x ./bin/console

install:
  - composer install
  - php bin/console doctrine:migrations:migrate --no-interaction
  - composer config --global process-timeout 2000
  - ./bin/console cache:clear --env=test

script:
  - composer ci
